<div class="page-wrapper">
  <!-- MENU SIDEBAR-->
  <aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
      <a routerLink="/landing">
        <img
          src="assets\images\New-logo.png"
          alt="Matthew's Personal Website"
          class="img-responsive logo"
        />
      </a>
    </div>

    <div class="menu-sidebar-content">
      <!--nav buttons here-->
      <a class="sidebar-link" routerLink="/landing">Welcome</a>
      <br />
      <a class="sidebar-link" routerLink="/site-info">About</a>
      <br />
      <a class="sidebar-link" routerLink="/black-jack-help">Black Jack</a>
    </div>
  </aside>
  <!-- END MENU SIDEBAR-->

  <!-- PAGE CONTAINER-->
  <div class="page-container">
    <!-- HEADER DESKTOP-->
    <header class="header-desktop">
      <div class="section-content section-content-p30">
        <div class="container-fluid">
          <div class="header-wrap">
            <!--top components here-->
            <img 
            src="assets\images\logo-title.png" 
            alt="title"
            class="title-img"
            />
          </div>
          <div class="account-wrap"></div>
        </div>
      </div>
    </header>
    <!-- END HEADER DESKTOP-->

    <!-- MAIN CONTENT-->
    <div class="main-content">
      <div class="section-content section-content-p30">
        <div class="container-fulid">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ENDS PAGE CONTAINER -->

<footer>
  <ul>
    <li>
      <a href="https://www.linkedin.com/in/matthew-hyndman-41580b164/"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
    </li>
    <li>
      <a href="https://github.com/Matthew-Hyndman"
        ><i class="fa-brands fa-github"></i
      ></a>
    </li>
    <br />
    <div class="col">
    <p>plug-ins used</p>
    <br />
    <li>
      <a href="https://fontawesome.com"
        ><i class="fa-solid fa-font-awesome"></i
      ></a>
    </li>
    <li>
      <a href="https://getbootstrap.com"
        ><i class="fa-brands fa-bootstrap"></i
      ></a>
    </li>
    <li class="footer-image">
      <a href="https://github.com/sweetalert2/ngx-sweetalert2">
        <img src="assets/images/ngx-sweetalert2-logo.png" alt=""
        
      /></a>
    </li>
  </div>
  </ul>
</footer>
