<h1>Welcome</h1>
<div class="row">
  <h2>Announcement</h2>
  <p style="text-align: center;">
    This website is a work in progress. More features and content will be added
    in due time to further demonstrate capability.
  </p>
</div>
<br>
<div class="row">
  <div class="col mt-2 ml-5">
    <i
      class="fa-solid fa-info"
      style="color: #ffffff"
      routerLink="/site-info"
    ></i>
    <h4>About</h4>
    <div style="font-size: 18px;">
    <p>
      Learn about the purpose of this website and its creator, including the
      skills and experience Matthew has acquired.
    </p>
  </div>
</div>
  <div class="col">
    <i
      class="fa-regular fa-dice"
      style="color: #ffffff"
      routerLink="/black-jack"
    ></i>
    <h4>Black Jack</h4>
    <p>
      Play a game of blackjack with casual rules. In this demo, the insurance
      rule will not apply, as the focus is on showcasing technical abilities.
    </p>
  </div>
  <!--<div class="col"></div>-->
</div>
